form {
	color: black;
}

form input[type=text], textarea{
	font-size:18px;
	border:solid 1px #aacfe4;
	border-radius: 2px;
	display: inline-block;
}

form input[type=text] {
	height: 30px;
	width:330px;
	max-width: 330px;
}

form textarea {
	width:328px;
	max-width: 328px;
	margin-top: 0px;
	margin-bottom: 0px;
}

form input[type=text]:focus, textarea:focus{
	border:solid 1px #00b91a;
	outline: none;
	box-shadow: 0px 0px 20px #747474;
}

form input[type=submit] {
	height:31px;
}

form .inputcontainer {
	margin-bottom: 15px;
	min-height: 32px;
}

form .inputdetails {
	display: inline-block;
	font-weight: 700;
	margin-left: 5px;
	font-size: 16px;
	float: left;
	margin-left: 342px;
	position: absolute;
}

form .inputdetails .subtitle {
	font-weight: 300;
	display: inline-block;
	font-size: 14px;
	position: relative;
	top: -4px;
}

form .inputdetails .title {
	position: relative;
	top: -2px;
}