/* Btns and Alerts */

.btn {
	font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #808287;
    text-shadow: 0 1px 0 #fff;
    padding: 8px 12px 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#f0f0f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 0%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
}
.btn:hover {
    color: #55575a;
    border-color: #a7a7a7;
    background: #fcfcfc;
}
.btn-primary {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    border-color: #727478;
    background: #afafaf;
    background: -moz-linear-gradient(top,  #afafaf 0%, #77797e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(100%,#77797e));
    background: -webkit-linear-gradient(top,  #afafaf 0%,#76787d 100%);
    background: -o-linear-gradient(top,  #afafaf 0%,#77797e 100%);
    background: -ms-linear-gradient(top,  #afafaf 0%,#77797e 100%);
    background: linear-gradient(to bottom,  #afafaf 0%,#77797e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#77797e',GradientType=0 );
}
.btn-primary:hover {
    color: #fff;
    border-color: #525459;
    background: #77797e;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.btn-danger {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    border-color: #d43434;
    background: #f85b5b;
    background: -moz-linear-gradient(top,  #f85b5b 0%, #dc4040 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85b5b), color-stop(100%,#dc4040));
    background: -webkit-linear-gradient(top,  #f85b5b 0%,#dc4040 100%);
    background: -o-linear-gradient(top,  #f85b5b 0%,#dc4040 100%);
    background: -ms-linear-gradient(top,  #f85b5b 0%,#dc4040 100%);
    background: linear-gradient(to bottom,  #f85b5b 0%,#dc4040 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85b5b', endColorstr='#dc4040',GradientType=0 );
}
.btn-danger:hover {
    color: #fff;
    border-color: #a52121;
    background: #dc4040;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.btn-success {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    border-color: #527c17;
    background: #90c545;
    background: -moz-linear-gradient(top,  #90c545 0%, #6c9f24 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90c545), color-stop(100%,#6c9f24));
    background: -webkit-linear-gradient(top, #90c545 0%, #6c9f24 100%);
    background: -o-linear-gradient(top,  #90c545 0%,#6c9f24 100%);
    background: -ms-linear-gradient(top,  #90c545 0%,#6c9f24 100%);
    background: linear-gradient(to bottom,  #90c545 0%,#6c9f24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c545', endColorstr='#6c9f24',GradientType=0 );
}
.btn-success:hover {
    color: #fff;
    border-color: #527c17;
    background: #6c9f24;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.btn-action {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    border-color: #1783ac;
    background: #2dadde;
    background: -moz-linear-gradient(top,  #2dadde 0%, #1589b5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2dadde), color-stop(100%,#1589b5));
    background: -webkit-linear-gradient(top,  #2dadde 0%,#1589b5 100%);
    background: -o-linear-gradient(top,  #2dadde 0%,#1588b5 100%);
    background: -ms-linear-gradient(top,  #2dadde 0%,#1589b5 100%);
    background: linear-gradient(to bottom,  #2dadde 0%,#1589b5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dadde', endColorstr='#1589b5',GradientType=0 );
}
.btn-action:hover {
    color: #fff;
    border-color: #1783ac;
    background: #1589b5;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.alert {
	padding: 10px;
    margin-bottom: 20px;
}
.alert p {
	margin: 0;
}
.alert {
	background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#f0f0f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 0%,#f0f0f0 100%); /* W3C */
    font-weight: bold;
    border: 1px solid #b1b1b1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.2);
}
.modal .alert { margin: 10px 20px; }
.alert.alert-success {
    color: #fff;
    border: 1px solid #699629;
	background-color: #7bae34;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYWQzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhZDA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(90deg, #7bad35 0%, #9ad04f 100%);
	background-image: -o-linear-gradient(90deg, #7bad35 0%, #9ad04f 100%);
	background-image: -webkit-linear-gradient(90deg, #7bad35 0%, #9ad04f 100%);
	background-image: linear-gradient(90deg, #7bad35 0%, #9ad04f 100%);
}
.alert.alert-success .close {
    background: url(images/alert-success-close.png) no-repeat;
    width: 13px;
    height: 13px;
    text-indent: -9999px;
    opacity: 1;
    top: 3px;
}
.alert.alert-success .close:hover { opacity: 0.8; }
.alert.alert-error {
    color: #fff;
    border: 1px solid  #d43434;
    background: #f85b5b;
    background: -moz-linear-gradient(top,  #f85b5b 0%, #dc4040 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85b5b), color-stop(100%,#dc4040));
    background: -webkit-linear-gradient(top,  #f85b5b 0%,#dc4040 100%);
    background: -o-linear-gradient(top,  #f85b5b 0%,#dc4040 100%);
    background: -ms-linear-gradient(top,  #f85b5b 0%,#dc4040 100%);
    background: linear-gradient(to bottom,  #f85b5b 0%,#dc4040 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85b5b', endColorstr='#dc4040',GradientType=0 );
}
.alert.alert-error .close {
    background: url(images/alert-error-close.png) no-repeat;
    width: 13px;
    height: 13px;
    text-indent: -9999px;
    opacity: 1;
    top: 3px;
}
.alert.alert-error .close:hover { opacity: 0.8; }
.alert.alert-error a { 
    color: #ffcece; 
    text-decoration: underline; 
}
.alert.alert-error a:hover { color: #fff; }